div {
	width: 400px;
	height: 400px;
	color: white;
	background-color: #eee;
	background-image: url(../images/css-assignment-5-8.png);
	padding: 20px;
	margin: 20px;
}
.assign-3-shape-1 {
	background-repeat: no-repeat;
	background-size: 80%;
}
.assign-3-shape-2 {
	background-repeat: repeat-y;
	background-position: right;
	background-size: 80%;
}
.assign-3-shape-3 {
	background-repeat: repeat-x;
	background-position: bottom;
	background-size: 80%;
}
.assign-3-shape-4 {
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 50%;
}
